<!-- 左侧导航栏 -->
<template name="side_nav">
    <div class="site-side fl" id="siteSide">
        <ul class="nav site-side-nav" id="sideSideNav">
            <li class="hsub active">
                <a class="dropdown-toggle" data-action="toggle">
                    <i class="glyphicon icon-switch"></i>
                    <span class="menu-text">成员管理</span>
                </a>
                <ul class="submenu router-nav">
                    <li data-href="/list">
                        <a class="nav-link">
                            <i class="glyphicon"></i> 列表
                        </a>
                    </li>
                    <li data-href="/input">
                        <a class="nav-link">
                            <i class="glyphicon"></i> 录入
                        </a>
                    </li>
                    <li data-href="/setting">
                        <a class="nav-link">
                            <i class="glyphicon"></i> 设置
                        </a>
                    </li>
                    <li data-href="/">
                        <a class="nav-link">
                            <i class="glyphicon"></i> 待定
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</template>
