<!-- 信息录入 -->
<template name="input">
    <div class="panel panel-default">
        <div class="panel-heading">
            信息录入
        </div>
        <div class="table-responsive panel-body">
            <form class="form-horizontal" role="form" enctype="multipart/form-data">
                {{#each inputGroups}}
                {{> input_group}}
                {{/each}}
                <div class="btn btn-default pull-left add-btn">添加新属性</div>
                <button type="submit" class="btn btn-default pull-right">提交</button>
            </form>
        </div>
    </div>
</template>