<!-- 设置 -->
<template name="setting">
    <div class="panel panel-default">
        <div class="panel-heading">
            设置表单元素属性
        </div>
        <div class="table-responsive panel-body">
            <form class="form-horizontal" role="form">
                {{#each inputGroups}}
                {{> input_group_setting}}
                {{/each}}
                <button type="submit" class="btn btn-default pull-right">提交</button>
            </form>
        </div>
    </div>
</template>