<!-- 表单元素模板文件,目前包含图片和文本两种形式 -->
<template name="input_group_setting">
    <div class="form-group">
        <label class="col-lg-2 control-label">请设置{{label.label}}</label>

        <div class="col-lg-10 input-container">
            <input {{required}} name="{{_id}}-label" type="text" data-type="text" value="{{label.value}}"
                   class="form-control" placeholder="请输入..."
                   oninvalid="setCustomValidity('请填写')" oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">请设置{{key.label}}</label>

        <div class="col-lg-10 input-container">
            <input {{required}} name="{{_id}}-key" type="text" data-type="text" value=""
                   class="form-control" placeholder="请输入..."
                   oninvalid="setCustomValidity('请填写')" oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">请设置{{type.label}}</label>

        <div class="col-lg-10 input-container">
            <input {{required}} name="{{_id}}-type" type="text" data-type="text" value=""
                   class="form-control" placeholder="请输入..."
                   oninvalid="setCustomValidity('请填写')" oninput="setCustomValidity('')">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">请设置{{required.label}}</label>

        <div class="col-lg-10 input-container">
            <input {{required}} name="{{_id}}-required" type="text" data-type="text" value=""
                   class="form-control" placeholder="请输入..."
                   oninvalid="setCustomValidity('请填写')" oninput="setCustomValidity('')">
        </div>
    </div>
    <hr>
</template>
